body {
  padding-top: 50px;
  background-color: #999;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.col-md-4, .col-md-8 {
    margin-top:10px;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h3 .still_state {
    display: inline-block;
    padding:5px;
    margin:5px;
}

.still_name {
    margin: 0;
    padding: 0;
}


.panel, .panel-body {
    border-color: #101010;
    background-color: #999999;
}
.panel-heading {
    color: #999999;
    border-color: black;
    background-color: #101010;
}

.details_key, .details_value {
    color: #101010;
}