<div class="panel">
    <div class="panel-heading"> General Information </div>
    <div class="panel-body ">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="details_key">Name:</span>
                <span class="details_value">{{ still.name }}</span>
            </div>
            <div class="col-md-8">
                <span class="details_key">Status:</span>
                <span class="details_value">{% include "distillery/_still_state.html" %}</span>
            </div>
        </div>
        </div>
    </div>
</div>