<script type="text/javascript">

    function git_status(resp){
        if(resp==="True"){
            $("#git-uptodate").show();
            $("#git-outofdate").hide();
        } else {
            $("#git-uptodate").hide();
            $("#git-outofdate").show();
        }
    }

    function git_update(){
        $.ajax({url: "/api/git/status", success: git_status});
    }

	$(document).ready(function(){
        $("#git-check-button").on("click", function(){
            $.ajax({url: "/api/git/status", success: git_status});
        });
        $("#git-update-button").on("click", function(){
            $.ajax({url: "/api/git/update", success: git_update});
        });
	});
</script>

<div id="git-uptodate" class="alert alert-success" >
    Everything is up to date
    <input id="git-check-button" class="valve" type="button" value="check"/>
</div>

<div id="git-outofdate" class="alert alert-warning"  style="display:None;">
    The code is out of date
    <input id="git-update-button" class="valve" type="button" value="update"/>
</div>

