<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			crossorigin="anonymous"></script>
		<script src="/static/color.js" type="text/javascript"></script>
		<script src="/static/temperature.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"
			type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				initGraph("temperatureChart");
			});
		</script>
	</head>
	<body>
		<div style="border: solid thin black;">
			<canvas id="temperatureChart" style="width: 90%; height: 90%;"></canvas>
		</div>
	</body>
</html>
