
<script src="/static/valve.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
    setupValve("input");
	});
</script>

<form id="input-form">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Target</span>
    </div>
    <input id="input-target" class="valve" type="number" value="0"/>
  </div>
  <br/>

  <span class="progress">
    <div id="input-percent-bar" class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%"
    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </span>

  <div class="input-group" style="margin-top:10px;">
    <div class="input-group-prepend">
      <span class="input-group-text">Status</span>
      <span class="input-group-text" id="input-status">?</span>
    </div>
  </div>

  <div class="input-group" style="margin-top:10px;">
    <div class="input-group-prepend">
      <span class="input-group-text">Current</span>
      <span class="input-group-text" id="input-current">?</span>
    </div>
  </div>


</form>
