
<script src="/static/valve.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
    setupValve("input");
	});
</script>

<form id="input-form">
  <label for="input-target">Target</input>
  <input id="input-target" class="valve" type="number" value="0"/>

  <label for="input-status">Status</input>
  <p id="input-status">?</p>

  <label for="input-percent">current</input>
  <p id="input-current">?</p>

  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%"
    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</form>
