<div class="col-md-4" style="margin-top:10px;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ recipe.name }}</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Step</th>
                            <th>Name</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for step in recipe.steps %}
                        <tr>
                          <td>{{ forloop.counter0 }}</td>
                          <td>{{ step.name }}</td>
                          <td>{{ step.details }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>